<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final Project</title>
  </head>
  <body>
    <header>
      <div class="a_routers">
        <a routerLink="/posts" id="posts">Posts</a>
        <a routerLink="/albums">Albums</a>
        <a routerLink="/todos"> Todos</a>
      </div>
    </header>
    <hr />
    <main>
      <button id="add_post_btn" (click)="toggleForm()">Add Post</button>
      <form [formGroup]="addForm" class="post_block" *ngIf="showForm">
        <p>Post Author</p>
        <input
          type="text"
          formControlName="author"
          [(ngModel)]="newAuthor"
          [ngClass]="{
            invalid_input:
              getFormControl('author')!.invalid &&
              getFormControl('author')!.touched
          }"
        />
        <p>Title</p>
        <input
          type="text"
          formControlName="title"
          [(ngModel)]="newTitle"
          [ngClass]="{
            invalid_input:
              getFormControl('title')!.invalid &&
              getFormControl('title')!.touched
          }"
        />
        <p>Body</p>
        <input
          type="text"
          formControlName="body"
          [(ngModel)]="newBody"
          [ngClass]="{
            invalid_input:
              getFormControl('body')!.invalid && getFormControl('body')!.touched
          }"
        />
        <br />
        <button type="button" (click)="addPost()" id="red_add">Add</button>
      </form>

      <table>
        <thead>
          <tr>
            <th>POST'S USER</th>
            <th>TITLE</th>
            <th>BODY</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts" (click)="navigateToPost(post.id)">
            <td>{{ post.userName }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
